<div mat-dialog-title>
  <h2>Editar Cliente</h2>
</div>
<form [formGroup]="form"  (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CPF/CNPJ</mat-label>
        <input matInput formControlName="cpf">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="rua">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Numero</mat-label>
        <input matInput formControlName="numero">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Editar</button>
  </div>
</form>
